button {
  font-family: noto-sans, sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 19.5px;
}

h1 {
  font-family: noto-sans, sans-serif;
}

.center {
  display: flex;
  padding-top: 18%;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

.top-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
